/*----------------------------------*- TS -*-----------------------------------\
|  H O N   |                                                                   |
|   E Y C  | Honeycomb - Lattice Visualizer and Editor                         |
|    O M B |                                                                   |
|  Copyright (C) (2023-2024) EPFL                                              |
|  Main Author: Thomas Guilbaud <thomas.guilbaud@epfl.ch>, EPFL (Switzerland)  |
\*----------------------------------------------------------------------------*/

.dropdown-list {
    position: absolute;
    background-color: white;
    z-index: 10;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
    animation: slideIn 0.2s ease-in-out;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(25%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.dropdown-list button {
    border: none;
    background-color: white;
    padding: 0.5rem 1rem;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 0.5rem 
}

.dropdown-list button:hover {
    background-color: var(--lightgrey);
}
