/*----------------------------------*- TS -*-----------------------------------\
|  H O N   |                                                                   |
|   E Y C  | Honeycomb - Lattice Visualizer and Editor                         |
|    O M B |                                                                   |
|  Copyright (C) (2023-2024) EPFL                                              |
|  Main Author: Thomas Guilbaud <thomas.guilbaud@epfl.ch>, EPFL (Switzerland)  |
\*----------------------------------------------------------------------------*/

.move-row-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
}

.move-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: none;
    background-color: var(--lightgrey);
    height: 50%;
}

.move-button span {
    font-size: 1rem;
}

.color-map-label,.color-map-color {
    border: none;
    border-left: 0.1rem solid var(--lightgrey);
    border-right: 0.1rem solid var(--lightgrey);
    font-size: 1rem;
    width: 100%;
    height: 100%;
}

.color-map-label {
    padding-left: 0.25rem;
}

.color-map-label:focus,.color-map-color:focus,
.color-map-label:hover,.color-map-color:hover {
    outline: 1px solid var(--blue);
    outline-offset: -1px;
}

.color-map-count-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.color-map-delete-row {
    border: none;
    /* border-top: 2px solid white; */
    background-color: var(--lightgrey);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 18px;
}

.move-button:hover,
.color-map-delete-row:hover {
    background-color: var(--blue);
    color: white;
}

.color-map-delete-row-zero {
    border: none;
    border-top: 2px solid white;
}

.color-map-delete-row-zero:hover {
    cursor: default;
}

.drag-indicator {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
