/*----------------------------------*- TS -*-----------------------------------\
|  H O N   |                                                                   |
|   E Y C  | Honeycomb - Lattice Visualizer and Editor                         |
|    O M B |                                                                   |
|  Copyright (C) (2023-2024) EPFL                                              |
|  Main Author: Thomas Guilbaud <thomas.guilbaud@epfl.ch>, EPFL (Switzerland)  |
\*----------------------------------------------------------------------------*/

.lattice-button {
    width: 2rem;
    height: 2rem;
    border: none;
    border-radius: 100%;
    background-color: var(--lightgrey);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.lattice-button:hover {
    background-color: var(--blue);
    color: white;
}

.lattice-button-activated {
    background-color: var(--blue);
    color: white;
}

.button-no-background {
    border: none;
    /* background: none; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 2rem;
    border-radius: 100%;
    transition: 0.3s;
    background-color: white;
}

.button-no-background:hover {
    background-color: var(--lightgrey);
}
