/*----------------------------------*- TS -*-----------------------------------\
|  H O N   |                                                                   |
|   E Y C  | Honeycomb - Lattice Visualizer and Editor                         |
|    O M B |                                                                   |
|  Copyright (C) (2023-2024) EPFL                                              |
|  Main Author: Thomas Guilbaud <thomas.guilbaud@epfl.ch>, EPFL (Switzerland)  |
\*----------------------------------------------------------------------------*/

.lattice-toolbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 0.5rem;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid lightgray;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    gap: 0.5rem;
}

.symmetry-number {
    width: 3rem;
}

.display-row {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    align-items: center;
}
