/*----------------------------------*- TS -*-----------------------------------\
|  H O N   |                                                                   |
|   E Y C  | Honeycomb - Lattice Visualizer and Editor                         |
|    O M B |                                                                   |
|  Copyright (C) (2023-2024) EPFL                                              |
|  Main Author: Thomas Guilbaud <thomas.guilbaud@epfl.ch>, EPFL (Switzerland)  |
\*----------------------------------------------------------------------------*/

.color-map {
    grid-area: b;
    height: max-content;
    border: 0.15rem solid var(--lightgrey);
    border-radius: 0.25rem;
}

.color-map-grid-header,
.color-map-grid-content {
    display: grid;
    grid-template-columns: 20px 30px 1fr minmax(60px, 1fr) 1fr 30px;
    align-items: center;
}

.color-map-grid-header {
    background-color: var(--lightgrey);
    font-weight: 700;
}

.color-map-grid-header p {
    padding: 0.5rem;
    font-size: 1rem;
}

.color-map-grid-content p {
    padding: 0.5rem;
}

.color-map-total-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.color-map-add-row {
    width: 100%;
    height: 1.5rem;
    border: none;
    border-top: 2px solid white;
    background-color: var(--lightgrey);
}

.color-map-add-row:hover {
    background-color: var(--blue);
    color: white;
    border-radius: 0 0 0.25rem 0.25rem;
}

.color-map-toggle-display-input {
    border: none;
    background-color: var(--lightgrey);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.color-map-toggle-display-input:hover {
    background-color: var(--blue);
    color: white;
}

.color-map-input-text-container {
    display: flex;
    grid-template-columns: 1fr 30px;
    width: 100%;
}

.color-map-input-text {
    width: 100%;
    border: none;
    margin: 3px 0;
    resize: none;
    overflow: hidden;
}

.color-map-input-copy {
    border: none;
    width: 30px;
    background-color: var(--lightgrey);
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-map-input-copy:hover {
    background-color: var(--blue);
    color: white;
}
