/*----------------------------------*- TS -*-----------------------------------\
|  H O N   |                                                                   |
|   E Y C  | Honeycomb - Lattice Visualizer and Editor                         |
|    O M B |                                                                   |
|  Copyright (C) (2023-2024) EPFL                                              |
|  Main Author: Thomas Guilbaud <thomas.guilbaud@epfl.ch>, EPFL (Switzerland)  |
\*----------------------------------------------------------------------------*/

.hexagon,
.square,
.triangular,
.circle {
    display: inline-block;
    padding: 0;
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* transition: all 0.5s linear; Too fancy */
}

.hexagon {
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
}

.triangular :nth-child(odd) {
    clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
}

.triangular :nth-child(odd) span {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -13%;
    pointer-events: none;
}

.triangular :nth-child(even) {
    clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
}

.triangular :nth-child(even) span {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: -13%;
    pointer-events: none;
}

.circle {
    border-radius: 100%;
}
