/*----------------------------------*- TS -*-----------------------------------\
|  H O N   |                                                                   |
|   E Y C  | Honeycomb - Lattice Visualizer and Editor                         |
|    O M B |                                                                   |
|  Copyright (C) (2023-2024) EPFL                                              |
|  Main Author: Thomas Guilbaud <thomas.guilbaud@epfl.ch>, EPFL (Switzerland)  |
\*----------------------------------------------------------------------------*/

.orientation-dropdown {
    position: absolute;
    width: 8rem;
    height: 12rem;
    background-color: white;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
    animation: slideIn 0.2s ease-in-out;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(25%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.orientation-dropdown button {
    border: none;
    background-color: white;
    padding: 0.5rem 1rem;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 0.5rem 
}

.orientation-dropdown button:hover {
    background-color: var(--lightgrey);
}

.orientation-dropdown-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}

.orientation-picker-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    font-size: 1rem;
}

.orientation-picker-input {
    width: 70%;
}

.orientation-picker-input-range {
    width: 100%;
}

.orientation-picker-icon {
    width: 3rem;
    height: 3rem;
}
