/*----------------------------------*- TS -*-----------------------------------\
|  H O N   |                                                                   |
|   E Y C  | Honeycomb - Lattice Visualizer and Editor                         |
|    O M B |                                                                   |
|  Copyright (C) (2023-2024) EPFL                                              |
|  Main Author: Thomas Guilbaud <thomas.guilbaud@epfl.ch>, EPFL (Switzerland)  |
\*----------------------------------------------------------------------------*/

.lattice-text {
    grid-area: d;
    height: 100%;
}

.lattice-text-header {
    display: flex;
    height: 3rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.lattice-text-codeheader {
    height: 2rem;
}

.lattice-text textarea {
    height: calc(100% - 3rem);
    display: flex;
    resize: none;
    min-height: 40vh;
    overflow: auto;
}

.lattice-text-coordinates-container {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
}
