/*----------------------------------*- TS -*-----------------------------------\
|  H O N   |                                                                   |
|   E Y C  | Honeycomb - Lattice Visualizer and Editor                         |
|    O M B |                                                                   |
|  Copyright (C) (2023-2024) EPFL                                              |
|  Main Author: Thomas Guilbaud <thomas.guilbaud@epfl.ch>, EPFL (Switzerland)  |
\*----------------------------------------------------------------------------*/


.lattice-parameters-real-dim {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.1rem 0rem;
    align-items: center;
    /* display: grid; */
    /* grid-template-columns: 1fr 1rem 6rem; */
    gap: 0.5rem;
}

.lattice-parameters-real-dim input {
    width: 4rem;
}

.button-unit-selection {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 0.25rem;
    height: 1.5rem;
    min-width: 3rem;
    transition: 0.3s;
    font-size: 1rem;
    justify-content: center;
}

.button-unit-selection:hover {
    background-color: var(--blue);
    color: white;
}