/*----------------------------------*- TS -*-----------------------------------\
|  H O N   |                                                                   |
|   E Y C  | Honeycomb - Lattice Visualizer and Editor                         |
|    O M B |                                                                   |
|  Copyright (C) (2023-2024) EPFL                                              |
|  Main Author: Thomas Guilbaud <thomas.guilbaud@epfl.ch>, EPFL (Switzerland)  |
\*----------------------------------------------------------------------------*/

.copy-button {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 1rem;
    height: 2rem;
    min-width: 2rem;
    transition: 0.3s;
}

.copy-button:hover {
    background-color: var(--blue);
    color: white;
}

.copy-button i {
    font-size: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.copy-button-span {
    font-size: 1rem;
    font-weight: 500;
    white-space: nowrap;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
