/*----------------------------------*- TS -*-----------------------------------\
|  H O N   |                                                                   |
|   E Y C  | Honeycomb - Lattice Visualizer and Editor                         |
|    O M B |                                                                   |
|  Copyright (C) (2023-2024) EPFL                                              |
|  Main Author: Thomas Guilbaud <thomas.guilbaud@epfl.ch>, EPFL (Switzerland)  |
\*----------------------------------------------------------------------------*/

.lattice-circular-add-button-area {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lattice-circular-add-button {
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    font-weight: bold;
    user-select: none;
    background-color: none;
    z-index: 1;
}
