/*----------------------------------*- TS -*-----------------------------------\
|  H O N   |                                                                   |
|   E Y C  | Honeycomb - Lattice Visualizer and Editor                         |
|    O M B |                                                                   |
|  Copyright (C) (2023-2024) EPFL                                              |
|  Main Author: Thomas Guilbaud <thomas.guilbaud@epfl.ch>, EPFL (Switzerland)  |
\*----------------------------------------------------------------------------*/

.banner {
    padding: 1rem 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-bottom: 2rem;
}

.banner .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.banner-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.banner-name img {
    height: 2.5rem;
    width: 2.5rem;
}

.banner-name p {
    font-size: 22px;
    font-weight: 600;
}

/* GitLab button */
.gitlab-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: black;
    font-weight: 700;
    background-color: var(--lightgrey);
    padding-right: 1rem;
    padding-left: 0.5rem;
    border-radius: 2rem;
    transition: 0.3s;
}

.gitlab-link:hover {
    background-color: var(--blue);
    color: white;
}

.gitlab-link img {
    width: 2.5rem;
    height: 2.5rem;
}
