/*----------------------------------*- TS -*-----------------------------------\
|  H O N   |                                                                   |
|   E Y C  | Honeycomb - Lattice Visualizer and Editor                         |
|    O M B |                                                                   |
|  Copyright (C) (2023-2024) EPFL                                              |
|  Main Author: Thomas Guilbaud <thomas.guilbaud@epfl.ch>, EPFL (Switzerland)  |
\*----------------------------------------------------------------------------*/

.lattice-circle-container {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    pointer-events: none; /* Click through the circle */
}

.lattice-circle {
    /* rotate: -45deg; */
    position: relative;
    /* height: 50vw;
    width: 50vw; */
    border-radius: 50%;
    /* outline: 4px solid black; */
    pointer-events: none; /* Click through the circle */
}

.lattice-circle-radius-text {
    /* top: -1.3rem; */
    position: absolute;
}

.lattice-circle-line {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    /* right: -20.71%; */
    top: 50%;
    height: 4px;
    /* width: 20.71%; */
    transform-origin: left;
    background-color: black;
}
