/*----------------------------------*- TS -*-----------------------------------\
|  H O N   |                                                                   |
|   E Y C  | Honeycomb - Lattice Visualizer and Editor                         |
|    O M B |                                                                   |
|  Copyright (C) (2023-2024) EPFL                                              |
|  Main Author: Thomas Guilbaud <thomas.guilbaud@epfl.ch>, EPFL (Switzerland)  |
\*----------------------------------------------------------------------------*/

.lattice-parameters {
    grid-area: c;
    border: 1px solid lightgray;
    border-radius: 0.25rem;
    padding: 0.5rem;
}

.lattice-parameters-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.lattice-parameters-separation {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-top: solid 0.1rem var(--lightgrey);
}

.lattice-parameters-body {
    display: flex;
    flex-direction: column;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-property: all;
    row-gap: 0.25rem;
}

.lattice-parameters-simple-input {
    justify-content: space-between;
    padding: 0.1rem 0rem;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 10rem;
}

.lattice-parameter-colors-container {
    width: 10rem;
    display: grid;
    align-items: center;
    grid-template-columns: 2rem 1fr 1fr;
    column-gap: 0.25rem;
}

.circle-list-container {
    margin-top: 0.5rem;
}

.circle-list-grid-header {
    background-color: var(--lightgrey);
    border-radius: 0.25rem 0.25rem 0 0;
}

.circle-list-grid-header p {
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
}

.circle-list-grid-header,
.circle-list-grid-content {
    display: grid;
    grid-template-columns: 2rem 1.5fr 1fr 1fr 30px;
    align-items: center;
    border-left: 0.2rem solid var(--lightgrey);
}

.circle-list-grid-content p {
    padding: 0.5rem;
    border-right: 0.2rem solid var(--lightgrey);
}


.lattice-circular-list-container {
    margin-top: 0.5rem;
    border-bottom: 0.2rem solid var(--lightgrey);
    border-radius: 0.25rem;
}

.lattice-circular-list-grid-header {
    background-color: var(--lightgrey);
    border-radius: 0.25rem 0.25rem 0 0;
}

.lattice-circular-list-grid-header p {
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
}

.lattice-circular-list-grid-header,
.lattice-circular-list-grid-content {
    display: grid;
    grid-template-columns: 4rem 1fr 1fr 1fr;
    align-items: center;
    border-left: 0.2rem solid var(--lightgrey);
}

.lattice-circular-list-grid-content p {
    padding: 0.5rem;
    border-right: 0.2rem solid var(--lightgrey);
}


.lattice-parameters-body-input {
    border: none;
    border-right: 0.2rem solid var(--lightgrey);
    font-size: 1rem;
    width: 100%;
    height: 100%;
    padding-left: 0.25rem;
}

.lattice-parameters-add-circle {
    width: 100%;
    border: none;
    height: 1.5rem;
    border-radius: 0 0 0.25rem 0.25rem;
}

.lattice-parameters-add-circle:hover {
    background-color: var(--blue);
    color: white;
}

.circle-list-color-select {
    border: none;
    border-right: 1px solid var(--lightgrey);
    font-size: 1rem;
    width: 100%;
    height: 100%;
}

.circle-list-delete-row {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    border: none;
}

.circle-list-delete-row:hover {
    background-color: var(--blue);
    color: white;
}
