/*----------------------------------*- TS -*-----------------------------------\
|  H O N   |                                                                   |
|   E Y C  | Honeycomb - Lattice Visualizer and Editor                         |
|    O M B |                                                                   |
|  Copyright (C) (2023-2024) EPFL                                              |
|  Main Author: Thomas Guilbaud <thomas.guilbaud@epfl.ch>, EPFL (Switzerland)  |
\*----------------------------------------------------------------------------*/

.footer-container {
    margin-top: 1rem;
    padding: 3rem 4rem;
    background-color: var(--lightgrey);
    display: grid;
    grid-template-columns: 0fr 4fr 2fr;
    grid-row-gap: 2rem;
    grid-column-gap: 3rem;
}

.footer-container img {
    height: 3rem;
}

.footer-container p {
    font-size: 0.75rem;
}

.footer-container a {
    font-size: 0.75rem;
}

.footer-container-text {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

@media screen and (max-width: 768px) {
    .footer-container {
        padding: 2rem 2rem;
        grid-template-columns: 0fr 1fr;
        grid-column-gap: 2rem;
    }
}