/*----------------------------------*- TS -*-----------------------------------\
|  H O N   |                                                                   |
|   E Y C  | Honeycomb - Lattice Visualizer and Editor                         |
|    O M B |                                                                   |
|  Copyright (C) (2023-2024) EPFL                                              |
|  Main Author: Thomas Guilbaud <thomas.guilbaud@epfl.ch>, EPFL (Switzerland)  |
\*----------------------------------------------------------------------------*/

.grid {
    display: grid;
    min-height: calc(100vh - 2rem - 2.5rem - 3rem - 2rem - 1rem);
    gap: 1rem;
    /* grid-template: 'a b' auto
                   'a c'
                   'a d' 1fr / 2fr 1fr; */
    grid-template-columns: 2fr 1fr;
    margin-bottom: 1rem;
}

.grid-fullscreen {
    display: grid;
    gap: 1rem;
    padding-bottom: 1rem;
    grid-template: 'a' auto
                   'c' auto
                   'b' auto
                   'd' auto / 1fr;
}

@media screen and (max-width: 768px) {
    .grid {
        grid-template: 'a' auto
                       'c' auto
                       'b' auto
                       'd' auto / 1fr;
    }

    .display-large {
        display: none;
    }

    .lattice-section {
        /* grid-area: a; */
        position: relative;
        height: calc(100vh - 2rem);
        top: 0rem;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    
    .lattice-size-text {
        font-size: 16px;
    }

    .size-container {
        grid-template-columns: 1fr 1fr;
    }

    .lattice-symmetry-flag {
        top: 1.25rem;
    }
}
