/*----------------------------------*- TS -*-----------------------------------\
|  H O N   |                                                                   |
|   E Y C  | Honeycomb - Lattice Visualizer and Editor                         |
|    O M B |                                                                   |
|  Copyright (C) (2023-2024) EPFL                                              |
|  Main Author: Thomas Guilbaud <thomas.guilbaud@epfl.ch>, EPFL (Switzerland)  |
|  Style: Marion Seminel                                                       |
\*----------------------------------------------------------------------------*/

:root {
  --blue: #0069b4;
  --dark-blue: #003c68;
  --lightgrey: rgb(238, 238, 238);
}

* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica;
  font-size: 18px;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

button:hover {
  cursor: pointer;
}

textarea {
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 0.25rem;
  padding: 0.25rem;
}

input {
  font-size: 16px;
}

span {
  user-select: none;
}

img {
  user-select: none;
}

.container {
  padding-right: 1rem;
  padding-left: 1rem;
  margin: auto;
}

.display-row {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  align-items: center;
}
