/*----------------------------------*- TS -*-----------------------------------\
|  H O N   |                                                                   |
|   E Y C  | Honeycomb - Lattice Visualizer and Editor                         |
|    O M B |                                                                   |
|  Copyright (C) (2023-2024) EPFL                                              |
|  Main Author: Thomas Guilbaud <thomas.guilbaud@epfl.ch>, EPFL (Switzerland)  |
\*----------------------------------------------------------------------------*/

.lattice-section {
    /* grid-area: a; */
    position: sticky;
    height: calc(100vh - 2rem);
    top: 1rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.lattice {
    border: 1px solid lightgray;
    border-radius: 0.25rem;
    padding: 1rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    min-height: 40vh;
    height: 100%;
}

.lattice-canvas {
    /* margin: 2rem; // never put a margin, make the dowload image bug */
    height: 100%;
    width: 100%;
}

.lattice-size-text {
    position: absolute;
    bottom: 1.35rem;
    right: 1rem;
    margin: 0;
    z-index: 3;
}

.size-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 3;
}

.lattice-full-screen {
    position: absolute;
    top: 1rem;
    right: 1rem;
    align-items: center;
    justify-items: right;
}

.lattice-symmetry-flag {
    position: absolute;
    top: 4rem;
    right: 1rem;
    height: 2rem;
    width: 2rem;
    padding: 0.25rem;
    background-color: white;
    border-radius: 1rem;
    z-index: 3;
}

.lattice-orientation-icon {
    position: absolute;
    top: 7rem;
    right: 1rem;
    height: 2rem;
    width: 2rem;
    padding: 0.25rem;
    background-color: white;
    border-radius: 0.5rem;
    z-index: 3;
}

.lattice-button-left {
    position: absolute;
    left: 1rem;
    top: calc(50% - 2.25rem);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.lattice-button-top-extended {
    position: absolute;
    top: 1rem;
    left: calc(50% - 2.25rem*2 - 0.25rem);
    display: inline-flex;
    gap: 0.5rem;
}

.lattice-button-top {
    position: absolute;
    top: 1rem;
    /* left: calc(50% - 2.25rem); */
    right: 3.5rem;
    display: inline-flex;
    gap: 0.5rem;
}

.lattice-button-bottom {
    position: absolute;
    bottom: 1rem;
    left: calc(50% - 2.25rem);
    display: inline-flex;
    gap: 0.5rem;
}

.lattice-button-right {
    position: absolute;
    right: 1rem;
    top: calc(50% - 2.25rem);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.lattice-section-svg-arrows {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none
}
